/* ------------ *
 * Color scheme *
 *--------------*/

$color-primary: #32e875;
$color-warning: #dd7b7b;
$color-background: #2e3138;

/* ----- *
 * Fonts *
 * ----- */

$main-font-family: 'Roboto', sans-serif;
$logo-font-family: 'Source Code Pro', sans-serif;
